<% console.log("what follows is a collection you made!") %>

<ul>
	<li class="collection-title"><%= _.humanize(collection.get("name")) %></li>
	<li><button class="show-on-map">Show On Map</button></li>
	<li class="collection-locations-link">
		<a
			href="#/collection-locations/<%= collection.get("id") %>"
			class="collection-locations-link">
			List the <%= collection.get("locations").length %> Locations in this Collection
		</a>
	</li>
	
	<% var allCategories = []; %>
	<% collection.get("locations").each(function (location) { %>
		<% allCategories = allCategories.concat(location.get("categories_as_array")) %>
	<% }); %>

	<% if (allCategories.length) { %>
		<li class="categories">Included Categories:
			<dl class="group">
				<% console.log() %>
				<% _(_.uniq(allCategories)).each(function (category) { %>
					<dt><%= _(category).humanize() %></dt>
				<% }) %>
			</dl>
		</li>
	<% } %>
<!-- 	<li>
		<a href="/collections/<%= collection.get("id") %>">
			View Comments/Notes for this Collection
		</a>
	</li> -->
	<!-- <li><button class="add-comment">Add a Comment</button></li> -->
</ul>