<ul class="data-list">
	<li><h3>Did you mean?</h3></li>
	<% locations.each(function (location) { %>
		<li>
			<p class="location">
				<%= location.get("street") %>
				<%= (location.city) ? location.get("city") + ", " : "" %>
				<%= location.get("state") %>
				<%= (location.zipcode) ? location.get("zipcode") + ", ": "" %>
				<%= location.get("country") %>
			</p>
		</li>
	<% }); %>
</ul>