<% console.log("what follows is a location you favorited!") %>
<% console.log(location); %>

<ul>
	<li><%= location.get("name") %></li>
	<li><button class="set-map-center">Center Map</button></li>
	<li class="location-detail-link">
		<a
			href="#/user-locations/location-details/<%= location.get("id") %>"
			class="location-detail-link">
			Location Detail View
		</a>
	</li>
	<li><button class="add-comment">Add a Comment</button></li>
	<li><%= location.get("address") %></li>
	<li class="categories">Categories:
		<dl class="group">
			<% _(location.get("categories_as_array")).each(function (category) { %>
				<dt><%= _(category).humanize() %></dt>
			<% }) %>
		</dl>
	</li>

	<li class="collection-display">Collections Included In:
		<dl class="group">
			<% (location.get("collections")).each(function (collection) { %>
				<dt class="single-collection">
					<span><%= _.humanize(collection.get("name")) %></span>
					<% if (collection.get("user_id") == current_user.id) { %>
						<%= '<button data-id="' + collection.get("id") + '" class="delete-collection">X</button>' %>
					<% } %>
				</dt>
			<% }) %>
		</dl>
	</li>
	<li><button class="add-collection">Add a Collection</button></li>
</ul>