<% console.log("what follows is a location you favorited!") %>
<% console.log(location); %>

<ul>
	<li><%= location.get("name") %></li>
	
	<div class="location-buttons group">
		<li><button class="set-map-center">Map View</button></li>
		<li class="location-detail-link">
			<a
				href="#/user-locations/location-details/<%= location.get("id") %>"
				class="location-detail-link">
				Details
			</a>
		</li>
		<li><button class="add-comment">Add Comment</button></li>
	</div>

	<li><%= location.get("address") %></li>
	<li class="categories">Categories:
		<dl class="group">
			<% _(location.get("categories_as_array")).each(function (category) { %>
				<dt><%= _(category).humanize() %></dt>
			<% }) %>
		</dl>
	</li>

	<li class="collection-display">
		<% if (location.get("collections").length) { %>
			Collections Included In:
		<% } else { %>
			Not Included In Any Collections Yet
		<% } %>
		<dl class="group">
			<% (location.get("collection_locations")).each(function (collection_location) { %>
				<% console.log("HAHAHAHA") %>
				<% console.log(collection_location.get("collection")) %>
				<% console.log(location) %>
				<dt class="single-collection">
					<span><%= _.humanize(collection_location.get("collection").get("name")) %></span>
					<% if (collection_location.get("collection").get("user_id") == current_user.id) { %>
						<%= '<button data-id="' + collection_location.get("id") + '" class="delete-collection">X</button>' %>
					<% } %>
				</dt>
			<% }) %>
		</dl>
	</li>
	<% if (location.get("savers").findWhere({id: current_user.id})) { %>
		<li><button class="add-collection">Add a Collection</button></li>
	<% } %>
</ul>