<ul class="location">
	<li><a href="#"><%= location.get("name") %></a></li>
	<li><%= location.get("address") %></li>
	<% window.near = location %>
	<li class="categories">Categories:
		<dl class="group">
			<% _(location.get("categories")).each(function (category) { %>
				<dt><%= _(category).humanize() %></dt>
			<% }) %>
		</dl>
	</li>
	<li><a href="#">Detail View</a></li>
	<% if ((userSavedData).findWhere({lat: location.get("lat")})) { %>
		<%= "<li>You've Saved this Location</li>" %>
	<% } else { %>
		<%= '<li><button class="persist">Save this Location!</button></li>' %>
	<% } %>
</ul>