<li><h3>About: <%= location.get("name") %></h3></li>
<li>First added by: <%= location.get("finder_email") %></li>
<li><%= location.get("address") %></li>
<li>
	<% if (!location.get("visited")) { %>
		<%= 'I have not visited ' + location.get("name") + ' yet.' %>
		<button class="visited-boolean">
			No. I've been there before
		</button>
	<% } else { %>
		<%= 'I have visited ' + location.get("name") + '.' %>
		<button class="visited-boolean">
			No. I've been there before
		</button>
	<% } %>	
</li>
<li class="categories">Categories:
	<dl class="group">
		<% _(location.get("categories")).each(function (category) { %>
			<dt><%= _(category).humanize() %></dt>
		<% }) %>
	</dl>
</li>
<li><h3>Comments:</h3></li>
<li>
	<ul class="comment-display">
		<% (location.get("comments")).each(function (comment) { %>
			<li><%= comment.get("body") %></li>
			<li>By: <%= comment.get("author_email") %> at <%= comment.get("updated_at") %></li>
		<% }) %>
	</ul>
</li>
<li><button class="add-comment">Add a Comment</button></li>
<% window.detail = location %>
