<li><h3>About: <%= location.get("name") %></h3></li>

<li>First added by: <%= location.get("creator").get("email") %></li>

<li><%= location.get("address") %></li>

<li class="toggle-user-visit"></li>

<li><button class="add-tag">Add a tag</button></li>

<li class="categories">Categories:
	<dl class="group">
		<% _(location.get("categories")).each(function (category) { %>
			<dt><%= _(category).humanize() %></dt>
		<% }) %>
	</dl>
</li>
<li><h3>Comments:</h3></li>
<li>
	<ul class="comment-display">
		<% (location.get("comments")).each(function (comment) { %>
			<li><%= comment.get("body") %></li>
			<li>
				By: <%= comment.get("author").get("email") %> at 
				<%= comment.get("updated_at") %>
			</li>
		<% }) %>
	</ul>
</li>
<li><button class="add-comment">Add a Comment</button></li>
<% window.detail = location %>
