<% location = controller.class.to_s.sub("Controller","").downcase %>

<nav class="group">
	<ul class="global">
		<li><a class="logo" href="#">MySpots</a></li>
		<li class="search"><input type="text" placeholder="Search..."></li>
		<li class="<%= location %>"><a href="#">Discover</a></li>
		<li class="<%= location %>"><a href="#">Help</a></li>
	</ul>

	<ul class="user">
		<li class="<%= location %>"><a href="#">My Friends</a></li>
		<li class="<%= location %>"><a href="#">My Collections</a></li>
		<li class="<%= location %>"><a href="#">My Locations</a></li>
		<li>
			<% if user_signed_in? %>
				<a href="<%= destroy_user_session_url %>">Sign Out</a>
			<% else %>
				<a href="<%= new_user_session_url %>">Sign In</a>
			<% end %>
		</li>
	</ul>
</nav>