<% curr_page = controller.class.to_s.sub("Controller","").downcase %>

<nav class="group">
	<ul class="global">
		<li><a class="logo" href="#">DillyDally</a></li>
		<!-- <li class="search"><input type="text" placeholder="Search..."></li>
		<li class="<%= curr_page %>"><a href="#">Discover</a></li>
		<li class="<%= curr_page %>"><a href="#">Help</a></li>
		<li class="alpha-testing <%= curr_page %>"><a href="#">Feedback</a></li> -->
	</ul>

	<ul class="user">
		<li class="<%= curr_page %>">
			<%= link_to "My Friends", friends_url %>
		</li>
		<li class="<%= curr_page %>">
			<%= link_to "All My Collections", collections_url %>
		</li>
		<li class="<%= curr_page %>">
			<%= link_to "All My Locations", locations_url %>
		</li>
		<li>
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_url, method: :delete %>
			<% else %>
				<%= link_to "Sign In", new_user_session_url %>
			<% end %>
		</li>
	</ul>
</nav>