<!DOCTYPE html>
<html>
<head>
  <title>DillyDally</title>
	<!-- Mapbox stuff -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
	<!-- Mapbox stuff end -->

  <script type="text/javascript">
    window.API = {
      MapQuest: "<%= ENV["MAPQUEST_KEY"] %>",
      MapBox: "<%= ENV["MAPBOX_MAP"] %>",
      Google: "<%= ENV["GOOGLE_KEY"] %>"
    };

    window.current_user = {
      email: "<%= current_user.email %>"
    }

    window.Icons = {
      "cafe": "<%= image_path('maki_icons/cafe-24.svg') %>",
      "general": "<%= image_path('maki_icons/cross-24.svg') %>"
    }

  </script>

  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar',
						locals: { controller: params[:controller] } %>


<% if params[:controller].match(/devise/) %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="devise"><%= yield %></div>
<% else %>
  <%= yield %>
  <%= render 'layouts/footer' %>
<% end -%>

</body>
</html>
