<!DOCTYPE html>
<html>
<head>
  <title>DillyDally</title>
	<!-- Mapbox stuff -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
	<!-- Mapbox stuff end -->
  
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar',
						locals: { controller: params[:controller] } %>


<% if params[:controller].match(/devise/) %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="devise"><%= yield %></div>
<% else %>
  <%= yield %>
  <%= render 'layouts/footer' %>
<% end -%>

</body>
</html>
